<div class="container">
    <div class="row">
        <div class="col">
            <!-- Espacio para pintar los sprites -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <button class="btn btn-secondary mr-3">ZoomOut</button>
                    <button class="btn btn-secondary">ZoomIn</button>
                </div>
                <div class="form-group">
                    <label for="moreSprites">Más sprites</label>
                    <input type="file" class="form-control-file" id="moreSprites">
                </div>
                <hr>
                <div class="form-group">
                    <label for="nameSprite">Nombre sprites</label>
                    <input type="text" class="form-control-file" id="nameSprite" placeholder="Nombre del spritesheet y el json">
                </div>

                <div class="form-group">
                    <label for="spritePerRow">Sprite per row</label>
                    <input type="number" class="form-control-file" id="spritePerRow">
                </div>

                <button type="submit" class="btn btn-primary">Guardar proyecto</button>
            </form>
        </div>
    </div>

</div>
