#output {
    outline: 1px solid blue;
    .col-gamma {
        display: flex;
    }
    span.content_box {
        // outline: 1px solid black;
        display: flex;
        width: 100%;
        .box {
            // Fix bootstrap
            line-height: 0;
        }
    }
}



