<div class="container">
    <div class="row">
        <!-- Espacio para pintar los sprites -->
        <div class="col justify-content-center d-flex mt-5">
            <!-- {{imagesFiles | json}} -->
            <div id="output" ng-style="styleOut">
                <div class="col-gamma" *ngFor="let images of imagesFiles">
                    <span class="box" *ngFor="let image of images" [ngStyle]="{'width': image.width+'px'}" ng-click="editarImage(img.name)">
                        <div>
                            <img src="{{image.result}}">
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
                <div class="form-group">
                    <button class="btn btn-secondary mr-3">ZoomOut</button>
                    <button class="btn btn-secondary">ZoomIn</button>
                </div>
                <div class="form-group">
                    <label for="moreSprites">Más sprites</label>
                    <input type="file" class="form-control-file" id="moreSprites" (change)="uploadAddFilesMulti($event)" multiple>
                </div>
                <hr>
                <div class="form-group">
                    <label for="nameSprite">Nombre sprites</label>
                    <input type="text" class="form-control-file" id="nameSprite" placeholder="Nombre del spritesheet y el json">
                </div>

                <div class="form-group">
                    <label for="spritePerRow">Sprite per row</label>
                    <input type="number" min="1" class="form-control-file" id="spritePerRow" [(ngModel)]="spritePerRow" (change)="ngOnInit()">
                </div>

                <button class="btn btn-primary" (click)="generatePNGJSON()">Guardar proyecto</button>
        </div>
    </div>

</div>
