<main class="container">
    <div class="row justify-content-center">
        <div class="col-12 d-flex justify-content-center mt-5 mb-4 logo animated fadeInDown">
            <img src="./assets/img/logo.gif" class="img-logo img-crisp mr-3">
            <h4>Atlas Packer Phaser 3</h4>
        </div>
        <div class="col-12 col-xs-9 col-lg-8 text-center animated fadeIn">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur alias corporis rem velit saepe
                optio repellat delectus amet, illo eligendi recusandae provident iste. Rem fuga officia autem odit,
                consectetur blanditiis.</p>
            <p class="my-5">
                <span class="element"></span>
            </p>
        </div>
    </div>
    <!-- Formulario -->
    <div class="row justify-content-center">
        <div class="col-12 col-xs-9 col-lg-8 text-center">
            <div class="fileUpload btn-input mr-4 animated fadeInLeft">
                <span>
                    <img src="./assets/img/frame.png" class="btn-image-md img-crisp">
                </span>
                <input type="file" class="upload" id="uploadFilesMulti" (change)="uploadFilesMulti($event)"
                multiple title="Click to import sprite">
            </div>
            <div class="fileUpload btn-input animated fadeInRight">
                <span>
                    <img src="./assets/img/spritesheet.png" class="btn-image-md img-crisp">
                </span>
                <input type="file" class="upload" id="uploadSpritesheet" (change)="uploadSpritesheet($event)" title="Click to import spritesheet">
            </div>
        </div>
    </div>
</main>

<footer class="text-center py-3">
    Soy footer :3
</footer>

<!-- Modal -->
<div class="modal fade" id="modalSpriteSheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Spritesheet options -->

                <div class="spriteSheet my-5" [ngStyle]="{'height': canvasSize.height+'px'}">
                    <div>
                        <div class="spriteSheetIMG">
                            <img src="{{printSpriteSheet}}">
                        </div>
                        <div *ngFor="let y of cutterLines" class="gridCut">
                            <span *ngFor="let x of y" [ngStyle]="{'width': spriteSheetWidth+'px', 'height': spriteSheetHeight+'px'}"
                                class="grid">

                            </span>
                        </div>
                    </div>

                </div>
                <div>
                    Sprite width:
                    <input type="number" [(ngModel)]="spriteSheetWidth" (change)="changeSizeGridCut()">
                    px
                    <br>
                    Sprite height:
                    <input type="number" [(ngModel)]="spriteSheetHeight" (change)="changeSizeGridCut()">
                    px
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="cutSpritesheet()">Save changes</button>
            </div>
        </div>
    </div>
</div>
