.spriteSheet {
    line-height: 0px;
    .spriteSheetIMG,
    .linesCut {
        position: absolute;
    }
}
.gridCut {
    display: flex;
    span.grid {
        display: inline-block;
        outline: 1px solid black;
    }
}
