<nav class="pr-5 d-flex justify-content-end align-items-center menu">
    <span class="d-flex justify-content-end align-items-center animated fadeInRight">
        <img src="./assets/img/logo.gif" class="img-logo-nav">
        <span class="logo-text ml-3">
            ATLAS PACKER PHASER 3
        </span>
    </span>
</nav>

<main>
    <div class="container">
        <!-- Spritesheets + anim panel -->
        <div class="row">
            <div class="col-6">
                Spritesheet
                <!-- {{atlasDB[0].spritesheet_array | json}} -->
                <div class="row">
                    <div class="col-12">
                        <div id="output">
                            <div class="col-gamma" *ngFor="let images of imagesFiles">
                                <span class="content_box" *ngFor="let image of images" [ngStyle]="{'width': image.width+'px'}">
                                    <div class="box" style="outline: 1px solid red" (click)="addSprite(image)">
                                        <img src="{{image.result}}" >
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                Anim
                <div id="container_phaser">
                </div>
            </div>
        </div>
        <!-- Panels configuratión -->
        <div class="row">
            <div class="col-4">
                <h4>Panel</h4>
                <div class="keys-name" *ngFor="let anim of anims">
                    <div (dblclick)="changeKeyName(anim.key)" (click)="changeActualKey(anim.key)" [ngClass]="{'key-active': anim.key === actualKey}">
                        {{anim.key}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" (click)="addRemoveKey('add')">+</button>
                        <button class="btn btn-primary ml-3" (click)="addRemoveKey('remove')">-</button>
                    </div>
                </div>
            </div>
            <div class="col-8">
                Key controls
                <div class="row">
                    <div class="col-12">
                        output:
                        <span *ngFor="let frame of actualFrames">
                            <img src="{{frame.result}}" (click)="removeSprite(frame.frame)">
                        </span>
                        <div class="controls">
                            <br>
                            <label for="repeatControl">Repeat: </label>
                            <input type="number" id="repeatControl" min="-1" [(ngModel)]="repeatControl" (change)="updateAnimsControls()">
                            <br>
                            <label for="rateControl">Frame Rate: </label>
                            <input type="number" id="rateControl" min="1" [(ngModel)]="frameRateControl" (change)="updateAnimsControls()">
                        </div>
                        <div>
                            <button class="btn btn-primary" (click)="generateAnim()">Generar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<footer class="py-3">
    <div class="animated fadeInUp text-center">
        Credits:
        <a href="https://github.com/gammafp">Gammafp</a><span>, </span>
        <a href="https://twitter.com/veryeviltomato/media">Evil tomato</a><span> & </span>
        <a href="#">Magdiel</a>
    </div>
</footer>
