.col-6 {
    outline: 1px solid green;
}
.col-4, .col-8 {
    outline: 1px solid blue;
}

#output {
    outline: 1px solid black;
    .col-gamma {
        display: flex;
    }
    span.content_box {
        // outline: 1px solid black;
        display: flex;
        width: 100%;
        .box {
            // Fix bootstrap
            line-height: 0;
        }
    }
}

.key-active {
    outline: 1px solid orangered;
}
