// .col-6, .col-7 {
//     outline: 1px solid green;
// }
// .col-4, .col-8, .col-5 {
//     outline: 1px solid blue;
// }

#output {
    // outline: 1px solid black;
    display: inline-block;
    .col-gamma {
        display: flex;
    }
    span.content_box {
        // outline: 1px solid black;
        display: flex;
        width: 100%;
        .box {
            // Fix bootstrap
            line-height: 0;
        }
    }
}

main {
    min-height: calc(100vh - 120px);
    color: white;
    font-family: "pressStart";
    font-size: 12px;
    // outline: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.anim_keys {
    display: inline-block;
}

.key-active {
    padding: 5px;
    display: inline-block;
    background-color: orangered;
}

.lines {
    outline: 1px solid white;
}
