<!DOCTYPE html>
<html lang="en" ng-app="miApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body ng-controller="mainCtrl">
    <main>
        <div id="output" ng-style="styleOut">
            <div class="col-gamma" ng-repeat="imgs in archivos">
                <span class="uno" ng-repeat="img in imgs" class="selected" ng-click="editarImage(img.name)">
                    <img src="{{img.result}}">
                </span>
            </div>
        </div>
    </main>
    <div>
        <button ng-click="obtenerImagen()">Producir</button>
        <input type="file" ng-module="archivo" id="archivo" multiple file-on-change="onFileChange">
    </div>
    <div>
        <button ng-click="zoomFunction('zoomOut')">zoom -</button>
        <button ng-click="zoomFunction('zoomIn')">zoom +</button>
    </div>


    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/ramda/dist/ramda.min.js"></script>

    <script src="./node_modules/phaser/dist/phaser.min.js"></script>
    <script src="./script/libs.js"></script>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/html2canvas/dist/html2canvas.min.js"></script>
    <script src="./script/main.js"></script>
</body>

</html>