* {
    box-sizing: unset;
}
canvas,
img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    outline: 1px solid red;
}

#output {
    outline: 1px solid blue;
    /* transform: scale(4); */
}

#output .col-gamma {
    /* border: 2px  dotted black; */
    display: flex;
}
#output .col-gamma span.uno {
    outline: 1px dotted black;
    display: inline-block;
    height: 100;
    width: 100%;
}

#output .col-gamma span.uno .selected {
    outline: 1px solid dotted !important;
    opacity: .8;
}

#output img {
    /* outline: 1px solid orangered; */
    vertical-align: top;
}